<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Backbone.js</title>
  </head>
  <body>
    <script src="js/jquery.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/backbone.js"></script>

    <!-- external template -->
    <script id="dogTemplate" type="text/template">
      <%= name %> is <%= color %> and says <%= sound %>
      <button class="edit">Edit</button>
      <button class="delete">Delete</button>
    </script>

    <!-- application.js must be called after the script template, otherwise you'll get an error -->
    <script src="js/namespaced-application.js"></script>
  </body>
</html>
